﻿@using Newtonsoft.Json.Linq
@model book_shop.WebUI.Models.Products.Product

<div class="row">
    <div class="col-xs-12">
        <h1>@Model.Name</h1>
        <hr/>
    </div>
    <div class="col-xs-7">
        @if (Model.Expansion["Expansion"].HasValues)
        {
            foreach (var sections in Model.Expansion["Expansion"])
            {
                foreach (var section in sections)
                {
                    if (section.HasValues)
                    {
                        <div class="col-xs-12">
                            <h4>@Html.Raw(section.Path)</h4>
                        </div>
                        <table class="col-xs-offset-2 col-xs-10 table">
                            <tbody>
                            @foreach (var obj in section)
                            {
                                if (obj.HasValues)
                                {
                                    var property = obj as JProperty;
                                    var value = property?.FirstOrDefault() as JValue;

                                    <tr>
                                        <th scope="row">@Html.Raw(property?.Name)</th>
                                        <td>@Html.Raw(value?.Value)</td>
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    }
                }
            }
        }
        <div>
            @Html.ActionLink("Back to the product list", "List","Product",new{@class="btn btn-primary"})
        </div>
    </div>
    <div class="well col-xs-offset-1 col-xs-3 text-center">
        <div class="row">
            <h2 class="text-success">@Model.Price</h2>
        </div>
        <div class="row">
            @using (Html.BeginForm("AddToCart", "Cart"))
            {
                <div>
                    @Html.Hidden("productId", Model.Id)
                    @Html.Hidden("returnUrl", Request.Url?.PathAndQuery)
                    <input type="submit" class="btn btn-success" value="Add to cart" @(Model.Quantity == 0 ? "disabled" : "")/>
                </div>
            }
        </div>
        <div class="row">
            <label class="text-warning">In stock @Model.Quantity</label>
        </div>
    </div>
</div>