﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/Content/ErrorStyles.css">
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <title>@ViewBag.Title</title>
    @RenderSection("Scripts", false)
    <script>
        function isNumberKey(evt) {
            let charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            let inputValue = parseInt(evt.srcElement.value + evt.key);
            let max = parseInt(evt.srcElement.max);
            let min = parseInt(evt.srcElement.min);

            if (inputValue > max || inputValue < min)
                return false;
            return true;
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("BOOK SHOP","List","Product",null,new{@class="navbar-brand"})
            </div>
            <div id="cart_summary_id" class="nav navbar-nav navbar-right">
                @Html.Action("Summary","Cart")
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row panel">
            <div id="categories" class="col-xs-3">
                Put something useful here later
            </div>
            <div class="col-xs-9">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>