﻿@{
    ViewBag.Title = "SportsStore: Error";
}

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">ERROR</h3>
    </div>
    <div class="panel-body">
        Sorry, but something went wrong
    </div>
</div>
