﻿@model book_shop.WebUI.Models.Products.Product

<div class="well row">
    <div>
        <div class="col-xs-8">
            <h3>
                @Html.ActionLink(Model.Name, "GetProduct", "Product", new {id = Model.Id},null)
            </h3>
        </div>
            <div class="col-xs-offset-1 col-xs-3 text-center">
                <div class="row">
                    <h3 class="text-success">
                        <span class="label label-primary">@Model.Price.ToString("c")</span>
                    </h3>
                </div>
                <div class="row">
                    @using (Html.BeginForm("AddToCart", "Cart"))
                    {
                        <div>
                            @Html.Hidden("productId", Model.Id)
                            @Html.Hidden("returnUrl", Request.Url?.PathAndQuery)
                            <input type="submit" class="btn btn-success" value="Add to cart" @(Model.Quantity == 0 ? "disabled" : "")/>
                        </div>
                    }
            </div>
         
        </div>
    </div>

</div>