﻿@using book_shop.WebUI.Models.Cart
@model book_shop.WebUI.Models.Cart.CheckoutViewModel

@{
    ViewBag.Title = "Book-Shop: Checkout";
}

<div class="panel panel-success">
    <div class="panel-heading">
        <h2>Check out now</h2>
    </div>
    <div class="panel-body">
        <p>Please enter your details, and we'll ship your goods right away!</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            Contact details
        </h3>
    </div>
    <div class="panel-body">
    @using (Html.BeginForm())
    {
        var properties = ViewData.ModelMetadata.Properties.FirstOrDefault(metadata => metadata.PropertyName == "ShoppingDetails");
        if (properties?.Properties != null)
        {
            foreach (var property in properties?.Properties)
            {
                <div class="form-group">
                    <label>@(property.DisplayName ?? property.PropertyName)</label>
                    @Html.TextBox($"ShoppingDetails.{property.PropertyName}", null, new {@class = "form-control"})
                    @Html.ValidationMessage($"ShoppingDetails.{property.PropertyName}")
                </div>
            }
        }
        <div class="text-center">
            @Html.ActionLink("Back to the cart","Index","Cart",new { returnUrl = Model.ReturnUrl},new {@class="btn btn-default"})
            <input class="btn btn-success" type="submit" value="Complete order"/>
        </div>
    }
    </div>
</div>