﻿@{
    ViewBag.Title = "SportsStore: Order Submitted";
}

<div class="panel panel-success">
    <div class="panel-heading">
        Thanks!
    </div>
    <div class="panel-body">
        Thanks for placing your order. We'll ship your goods as soon as possible.
    </div>
</div>