﻿  @model book_shop.WebUI.Models.Cart.ICart
@{
    int index = 0;
}

<table id="cartTable" class="table">
    <thead>
    <tr>
        <th>№</th>
        <th>Name</th>
        <th class="text-right">Price</th>
        <th class="text-right">Quantity</th>
        <th class="text-right">Subtotal</th>
    </tr>
    </thead>
    <tbody id="tableBody">
    @foreach (var soldProduct in Model.SoldProducts)
    {
        index++;
        <tr>
            <td class="text-left">@index</td>
            <td class="text-left">
                <div>
                    <div>
                        @soldProduct.Name
                    </div>
                    @Html.ValidationMessage($"Lines[{index - 1}].Quantity")
                </div>
            </td>
            <td class="text-right">@soldProduct.Price.ToString("c")</td>
            <td class="text-right">
                @Html.TextBox($"Lines[{index - 1}].Quantity", soldProduct.Quantity,new{ @class="form-control", style="width: 70px; display: inline-block", type="number", min="1",
                data_product_id=soldProduct.Id,
               onkeypress="return isNumberKey(event)", onchange="inputQuantityChanged(this)"})
            </td>
            <td class="text-right">
                @((soldProduct.Quantity * soldProduct.Price).ToString("c"))
            </td>
            <td class="text-right">
                <input class="btn btn-sm btn-warning"  type="button" data-product-id="@soldProduct.Id" 
                       value="Remove" onclick="removeProductFromCart(this)"/>
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4" class="text-right">Total:</td>
        <td class="text-right">
            @Model.ComputeTotalValue().ToString("c")
        </td>
    </tr>
    </tfoot>
</table>