﻿@model book_shop.WebUI.Models.Cart.CartIndexViewModel

@{
    ViewBag.Title = "Book-Shop: Your Cart";
    
}

@section Scripts
{
    <script src="~/Scripts/cart.js"></script>
}

<h2>Your cart</h2>

@Html.Action("GetCartData")

<div class="text-center">
    <a class="btn btn-default" href="@Model.ReturnUrl">Continue shopping</a>
    <a id="checkoutNow_button_id" class="btn btn-primary @(Model.Cart.SoldProducts.Count==0?"disabled":"")" onclick="return checkoutNowClick()" href="@Url.Action("Checkout","Cart",new{returnUrl=Model.ReturnUrl})">Checkout now</a>
</div>