﻿@model book_shop.WebUI.Models.Cart.CartIndexViewModel

<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="@Url.Action("Index", "Cart", new {returnUrl = Model.ReturnUrl??Request.Url.PathAndQuery})">
            <b>Your cart:</b>
            @Model.Cart.SoldProducts.Sum(x => x.Quantity) item(s),
            @Model.Cart.ComputeTotalValue().ToString("c") <span style="padding-left: 5px" class="glyphicon glyphicon-shopping-cart"></span>
        </a>
    </li>
</ul>